<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>icon-adjust</key>
	<string>0xf042</string>
	<key>icon-align-center</key>
	<string>0xf037</string>
	<key>icon-align-justify</key>
	<string>0xf039</string>
	<key>icon-align-left</key>
	<string>0xf036</string>
	<key>icon-align-right</key>
	<string>0xf038</string>
	<key>icon-ambulance</key>
	<string>0xf0f9</string>
	<key>icon-anchor</key>
	<string>0xf13d</string>
	<key>icon-angle-down</key>
	<string>0xf107</string>
	<key>icon-angle-left</key>
	<string>0xf104</string>
	<key>icon-angle-right</key>
	<string>0xf105</string>
	<key>icon-angle-up</key>
	<string>0xf106</string>
	<key>icon-arrow-down</key>
	<string>0xf063</string>
	<key>icon-arrow-left</key>
	<string>0xf060</string>
	<key>icon-arrow-right</key>
	<string>0xf061</string>
	<key>icon-arrow-up</key>
	<string>0xf062</string>
	<key>icon-asterisk</key>
	<string>0xf069</string>
	<key>icon-backward</key>
	<string>0xf04a</string>
	<key>icon-ban-circle</key>
	<string>0xf05e</string>
	<key>icon-bar-chart</key>
	<string>0xf080</string>
	<key>icon-barcode</key>
	<string>0xf02a</string>
	<key>icon-beaker</key>
	<string>0xf0c3</string>
	<key>icon-beer</key>
	<string>0xf0fc</string>
	<key>icon-bell</key>
	<string>0xf0a2</string>
	<key>icon-bell-alt</key>
	<string>0xf0f3</string>
	<key>icon-bold</key>
	<string>0xf032</string>
	<key>icon-bolt</key>
	<string>0xf0e7</string>
	<key>icon-book</key>
	<string>0xf02d</string>
	<key>icon-bookmark</key>
	<string>0xf02e</string>
	<key>icon-bookmark-empty</key>
	<string>0xf097</string>
	<key>icon-briefcase</key>
	<string>0xf0b1</string>
	<key>icon-building</key>
	<string>0xf0f7</string>
	<key>icon-bullhorn</key>
	<string>0xf0a1</string>
	<key>icon-bullseye</key>
	<string>0xf140</string>
	<key>icon-calendar</key>
	<string>0xf073</string>
	<key>icon-calendar-empty</key>
	<string>0xf133</string>
	<key>icon-camera</key>
	<string>0xf030</string>
	<key>icon-camera-retro</key>
	<string>0xf083</string>
	<key>icon-caret-down</key>
	<string>0xf0d7</string>
	<key>icon-caret-left</key>
	<string>0xf0d9</string>
	<key>icon-caret-right</key>
	<string>0xf0da</string>
	<key>icon-caret-up</key>
	<string>0xf0d8</string>
	<key>icon-certificate</key>
	<string>0xf0a3</string>
	<key>icon-check</key>
	<string>0xf046</string>
	<key>icon-check-empty</key>
	<string>0xf096</string>
	<key>icon-check-minus</key>
	<string>0xf147</string>
	<key>icon-check-sign</key>
	<string>0xf14a</string>
	<key>icon-chevron-down</key>
	<string>0xf078</string>
	<key>icon-chevron-left</key>
	<string>0xf053</string>
	<key>icon-chevron-right</key>
	<string>0xf054</string>
	<key>icon-chevron-sign-down</key>
	<string>0xf13a</string>
	<key>icon-chevron-sign-left</key>
	<string>0xf137</string>
	<key>icon-chevron-sign-right</key>
	<string>0xf138</string>
	<key>icon-chevron-sign-up</key>
	<string>0xf139</string>
	<key>icon-chevron-up</key>
	<string>0xf077</string>
	<key>icon-circle</key>
	<string>0xf111</string>
	<key>icon-circle-arrow-down</key>
	<string>0xf0ab</string>
	<key>icon-circle-arrow-left</key>
	<string>0xf0a8</string>
	<key>icon-circle-arrow-right</key>
	<string>0xf0a9</string>
	<key>icon-circle-arrow-up</key>
	<string>0xf0aa</string>
	<key>icon-circle-blank</key>
	<string>0xf10c</string>
	<key>icon-cloud</key>
	<string>0xf0c2</string>
	<key>icon-cloud-download</key>
	<string>0xf0ed</string>
	<key>icon-cloud-upload</key>
	<string>0xf0ee</string>
	<key>icon-code</key>
	<string>0xf121</string>
	<key>icon-code-fork</key>
	<string>0xf126</string>
	<key>icon-coffee</key>
	<string>0xf0f4</string>
	<key>icon-cog</key>
	<string>0xf013</string>
	<key>icon-cogs</key>
	<string>0xf085</string>
	<key>icon-collapse-alt</key>
	<string>0xf117</string>
	<key>icon-columns</key>
	<string>0xf0db</string>
	<key>icon-comment</key>
	<string>0xf075</string>
	<key>icon-comment-alt</key>
	<string>0xf0e5</string>
	<key>icon-comments</key>
	<string>0xf086</string>
	<key>icon-comments-alt</key>
	<string>0xf0e6</string>
	<key>icon-copy</key>
	<string>0xf0c5</string>
	<key>icon-credit-card</key>
	<string>0xf09d</string>
	<key>icon-crop</key>
	<string>0xf125</string>
	<key>icon-css3</key>
	<string>0xf13c</string>
	<key>icon-cut</key>
	<string>0xf0c4</string>
	<key>icon-dashboard</key>
	<string>0xf0e4</string>
	<key>icon-desktop</key>
	<string>0xf108</string>
	<key>icon-double-angle-down</key>
	<string>0xf103</string>
	<key>icon-double-angle-left</key>
	<string>0xf100</string>
	<key>icon-double-angle-right</key>
	<string>0xf101</string>
	<key>icon-double-angle-up</key>
	<string>0xf102</string>
	<key>icon-download</key>
	<string>0xf01a</string>
	<key>icon-download-alt</key>
	<string>0xf019</string>
	<key>icon-edit</key>
	<string>0xf044</string>
	<key>icon-edit-sign</key>
	<string>0xf14b</string>
	<key>icon-eject</key>
	<string>0xf052</string>
	<key>icon-ellipsis-horizontal</key>
	<string>0xf141</string>
	<key>icon-ellipsis-vertical</key>
	<string>0xf142</string>
	<key>icon-envelope</key>
	<string>0xf003</string>
	<key>icon-envelope-alt</key>
	<string>0xf0e0</string>
	<key>icon-eraser</key>
	<string>0xf12d</string>
	<key>icon-exchange</key>
	<string>0xf0ec</string>
	<key>icon-exclamation</key>
	<string>0xf12a</string>
	<key>icon-exclamation-sign</key>
	<string>0xf06a</string>
	<key>icon-expand-alt</key>
	<string>0xf116</string>
	<key>icon-external-link</key>
	<string>0xf08e</string>
	<key>icon-external-link-sign</key>
	<string>0xf14c</string>
	<key>icon-eye-close</key>
	<string>0xf070</string>
	<key>icon-eye-open</key>
	<string>0xf06e</string>
	<key>icon-facebook</key>
	<string>0xf09a</string>
	<key>icon-facebook-sign</key>
	<string>0xf082</string>
	<key>icon-facetime-video</key>
	<string>0xf03d</string>
	<key>icon-fast-backward</key>
	<string>0xf049</string>
	<key>icon-fast-forward</key>
	<string>0xf050</string>
	<key>icon-fighter-jet</key>
	<string>0xf0fb</string>
	<key>icon-file</key>
	<string>0xf016</string>
	<key>icon-file-alt</key>
	<string>0xf0f6</string>
	<key>icon-film</key>
	<string>0xf008</string>
	<key>icon-filter</key>
	<string>0xf0b0</string>
	<key>icon-fire</key>
	<string>0xf06d</string>
	<key>icon-fire-extinguisher</key>
	<string>0xf134</string>
	<key>icon-flag</key>
	<string>0xf024</string>
	<key>icon-flag-alt</key>
	<string>0xf11d</string>
	<key>icon-flag-checkered</key>
	<string>0xf11e</string>
	<key>icon-flip-horizontal</key>
	<string>0x</string>
	<key>icon-flip-vertical</key>
	<string>0x</string>
	<key>icon-folder-close</key>
	<string>0xf07b</string>
	<key>icon-folder-close-alt</key>
	<string>0xf114</string>
	<key>icon-folder-open</key>
	<string>0xf07c</string>
	<key>icon-folder-open-alt</key>
	<string>0xf115</string>
	<key>icon-font</key>
	<string>0xf031</string>
	<key>icon-food</key>
	<string>0xf0f5</string>
	<key>icon-forward</key>
	<string>0xf04e</string>
	<key>icon-frown</key>
	<string>0xf119</string>
	<key>icon-fullscreen</key>
	<string>0xf0b2</string>
	<key>icon-gamepad</key>
	<string>0xf11b</string>
	<key>icon-gift</key>
	<string>0xf06b</string>
	<key>icon-github</key>
	<string>0xf09b</string>
	<key>icon-github-sign</key>
	<string>0xf092</string>
	<key>icon-glass</key>
	<string>0xf000</string>
	<key>icon-globe</key>
	<string>0xf0ac</string>
	<key>icon-google-plus</key>
	<string>0xf0d5</string>
	<key>icon-google-plus-sign</key>
	<string>0xf0d4</string>
	<key>icon-group</key>
	<string>0xf0c0</string>
	<key>icon-h-sign</key>
	<string>0xf0fd</string>
	<key>icon-hand-down</key>
	<string>0xf0a7</string>
	<key>icon-hand-left</key>
	<string>0xf0a5</string>
	<key>icon-hand-right</key>
	<string>0xf0a4</string>
	<key>icon-hand-up</key>
	<string>0xf0a6</string>
	<key>icon-hdd</key>
	<string>0xf0a0</string>
	<key>icon-headphones</key>
	<string>0xf025</string>
	<key>icon-heart</key>
	<string>0xf004</string>
	<key>icon-heart-empty</key>
	<string>0xf08a</string>
	<key>icon-home</key>
	<string>0xf015</string>
	<key>icon-hospital</key>
	<string>0xf0f8</string>
	<key>icon-html5</key>
	<string>0xf13b</string>
	<key>icon-inbox</key>
	<string>0xf01c</string>
	<key>icon-indent-left</key>
	<string>0xf03b</string>
	<key>icon-indent-right</key>
	<string>0xf03c</string>
	<key>icon-info</key>
	<string>0xf129</string>
	<key>icon-info-sign</key>
	<string>0xf05a</string>
	<key>icon-italic</key>
	<string>0xf033</string>
	<key>icon-key</key>
	<string>0xf084</string>
	<key>icon-keyboard</key>
	<string>0xf11c</string>
	<key>icon-laptop</key>
	<string>0xf109</string>
	<key>icon-leaf</key>
	<string>0xf06c</string>
	<key>icon-legal</key>
	<string>0xf0e3</string>
	<key>icon-lemon</key>
	<string>0xf094</string>
	<key>icon-level-down</key>
	<string>0xf149</string>
	<key>icon-level-up</key>
	<string>0xf148</string>
	<key>icon-lightbulb</key>
	<string>0xf0eb</string>
	<key>icon-link</key>
	<string>0xf0c1</string>
	<key>icon-linkedin</key>
	<string>0xf0e1</string>
	<key>icon-linkedin-sign</key>
	<string>0xf08c</string>
	<key>icon-list</key>
	<string>0xf03a</string>
	<key>icon-list-alt</key>
	<string>0xf022</string>
	<key>icon-list-ol</key>
	<string>0xf0cb</string>
	<key>icon-list-ul</key>
	<string>0xf0ca</string>
	<key>icon-location-arrow</key>
	<string>0xf124</string>
	<key>icon-lock</key>
	<string>0xf023</string>
	<key>icon-magic</key>
	<string>0xf0d0</string>
	<key>icon-magnet</key>
	<string>0xf076</string>
	<key>icon-mail-forward</key>
	<string>0xf064</string>
	<key>icon-mail-reply</key>
	<string>0xf112</string>
	<key>icon-mail-reply-all</key>
	<string>0xf122</string>
	<key>icon-map-marker</key>
	<string>0xf041</string>
	<key>icon-maxcdn</key>
	<string>0xf136</string>
	<key>icon-medkit</key>
	<string>0xf0fa</string>
	<key>icon-meh</key>
	<string>0xf11a</string>
	<key>icon-microphone</key>
	<string>0xf130</string>
	<key>icon-microphone-off</key>
	<string>0xf131</string>
	<key>icon-minus</key>
	<string>0xf068</string>
	<key>icon-minus-sign</key>
	<string>0xf056</string>
	<key>icon-minus-sign-alt</key>
	<string>0xf146</string>
	<key>icon-mobile-phone</key>
	<string>0xf10b</string>
	<key>icon-money</key>
	<string>0xf0d6</string>
	<key>icon-move</key>
	<string>0xf047</string>
	<key>icon-music</key>
	<string>0xf001</string>
	<key>icon-off</key>
	<string>0xf011</string>
	<key>icon-ok</key>
	<string>0xf00c</string>
	<key>icon-ok-circle</key>
	<string>0xf05d</string>
	<key>icon-ok-sign</key>
	<string>0xf058</string>
	<key>icon-paper-clip</key>
	<string>0xf0c6</string>
	<key>icon-paste</key>
	<string>0xf0ea</string>
	<key>icon-pause</key>
	<string>0xf04c</string>
	<key>icon-pencil</key>
	<string>0xf040</string>
	<key>icon-phone</key>
	<string>0xf095</string>
	<key>icon-phone-sign</key>
	<string>0xf098</string>
	<key>icon-picture</key>
	<string>0xf03e</string>
	<key>icon-pinterest</key>
	<string>0xf0d2</string>
	<key>icon-pinterest-sign</key>
	<string>0xf0d3</string>
	<key>icon-plane</key>
	<string>0xf072</string>
	<key>icon-play</key>
	<string>0xf04b</string>
	<key>icon-play-circle</key>
	<string>0xf01d</string>
	<key>icon-play-sign</key>
	<string>0xf144</string>
	<key>icon-plus</key>
	<string>0xf067</string>
	<key>icon-plus-sign</key>
	<string>0xf055</string>
	<key>icon-plus-sign-alt</key>
	<string>0xf0fe</string>
	<key>icon-print</key>
	<string>0xf02f</string>
	<key>icon-pushpin</key>
	<string>0xf08d</string>
	<key>icon-puzzle-piece</key>
	<string>0xf12e</string>
	<key>icon-qrcode</key>
	<string>0xf029</string>
	<key>icon-question</key>
	<string>0xf128</string>
	<key>icon-question-sign</key>
	<string>0xf059</string>
	<key>icon-quote-left</key>
	<string>0xf10d</string>
	<key>icon-quote-right</key>
	<string>0xf10e</string>
	<key>icon-random</key>
	<string>0xf074</string>
	<key>icon-refresh</key>
	<string>0xf021</string>
	<key>icon-remove</key>
	<string>0xf00d</string>
	<key>icon-remove-circle</key>
	<string>0xf05c</string>
	<key>icon-remove-sign</key>
	<string>0xf057</string>
	<key>icon-reorder</key>
	<string>0xf0c9</string>
	<key>icon-repeat</key>
	<string>0xf01e</string>
	<key>icon-reply</key>
	<string>0xf112</string>
	<key>icon-reply-all</key>
	<string>0xf122</string>
	<key>icon-resize-full</key>
	<string>0xf065</string>
	<key>icon-resize-horizontal</key>
	<string>0xf07e</string>
	<key>icon-resize-small</key>
	<string>0xf066</string>
	<key>icon-resize-vertical</key>
	<string>0xf07d</string>
	<key>icon-retweet</key>
	<string>0xf079</string>
	<key>icon-road</key>
	<string>0xf018</string>
	<key>icon-rocket</key>
	<string>0xf135</string>
	<key>icon-rotate-180</key>
	<string>0x</string>
	<key>icon-rotate-270</key>
	<string>0x</string>
	<key>icon-rotate-90</key>
	<string>0x</string>
	<key>icon-rotate-left</key>
	<string>0xf0e2</string>
	<key>icon-rotate-right</key>
	<string>0xf01e</string>
	<key>icon-rss</key>
	<string>0xf09e</string>
	<key>icon-rss-sign</key>
	<string>0xf143</string>
	<key>icon-save</key>
	<string>0xf0c7</string>
	<key>icon-screenshot</key>
	<string>0xf05b</string>
	<key>icon-search</key>
	<string>0xf002</string>
	<key>icon-share</key>
	<string>0xf045</string>
	<key>icon-share-alt</key>
	<string>0xf064</string>
	<key>icon-share-sign</key>
	<string>0xf14d</string>
	<key>icon-shield</key>
	<string>0xf132</string>
	<key>icon-shopping-cart</key>
	<string>0xf07a</string>
	<key>icon-sign-blank</key>
	<string>0xf0c8</string>
	<key>icon-signal</key>
	<string>0xf012</string>
	<key>icon-signin</key>
	<string>0xf090</string>
	<key>icon-signout</key>
	<string>0xf08b</string>
	<key>icon-sitemap</key>
	<string>0xf0e8</string>
	<key>icon-smile</key>
	<string>0xf118</string>
	<key>icon-sort</key>
	<string>0xf0dc</string>
	<key>icon-sort-down</key>
	<string>0xf0dd</string>
	<key>icon-sort-up</key>
	<string>0xf0de</string>
	<key>icon-spinner</key>
	<string>0xf110</string>
	<key>icon-star</key>
	<string>0xf005</string>
	<key>icon-star-empty</key>
	<string>0xf006</string>
	<key>icon-star-half</key>
	<string>0xf089</string>
	<key>icon-star-half-empty</key>
	<string>0xf123</string>
	<key>icon-star-half-full</key>
	<string>0xf123</string>
	<key>icon-step-backward</key>
	<string>0xf048</string>
	<key>icon-step-forward</key>
	<string>0xf051</string>
	<key>icon-stethoscope</key>
	<string>0xf0f1</string>
	<key>icon-stop</key>
	<string>0xf04d</string>
	<key>icon-strikethrough</key>
	<string>0xf0cc</string>
	<key>icon-subscript</key>
	<string>0xf12c</string>
	<key>icon-suitcase</key>
	<string>0xf0f2</string>
	<key>icon-superscript</key>
	<string>0xf12b</string>
	<key>icon-table</key>
	<string>0xf0ce</string>
	<key>icon-tablet</key>
	<string>0xf10a</string>
	<key>icon-tag</key>
	<string>0xf02b</string>
	<key>icon-tags</key>
	<string>0xf02c</string>
	<key>icon-tasks</key>
	<string>0xf0ae</string>
	<key>icon-terminal</key>
	<string>0xf120</string>
	<key>icon-text-height</key>
	<string>0xf034</string>
	<key>icon-text-width</key>
	<string>0xf035</string>
	<key>icon-th</key>
	<string>0xf00a</string>
	<key>icon-th-large</key>
	<string>0xf009</string>
	<key>icon-th-list</key>
	<string>0xf00b</string>
	<key>icon-thumbs-down</key>
	<string>0xf088</string>
	<key>icon-thumbs-up</key>
	<string>0xf087</string>
	<key>icon-ticket</key>
	<string>0xf145</string>
	<key>icon-time</key>
	<string>0xf017</string>
	<key>icon-tint</key>
	<string>0xf043</string>
	<key>icon-trash</key>
	<string>0xf014</string>
	<key>icon-trophy</key>
	<string>0xf091</string>
	<key>icon-truck</key>
	<string>0xf0d1</string>
	<key>icon-twitter</key>
	<string>0xf099</string>
	<key>icon-twitter-sign</key>
	<string>0xf081</string>
	<key>icon-umbrella</key>
	<string>0xf0e9</string>
	<key>icon-underline</key>
	<string>0xf0cd</string>
	<key>icon-undo</key>
	<string>0xf0e2</string>
	<key>icon-unlink</key>
	<string>0xf127</string>
	<key>icon-unlock</key>
	<string>0xf09c</string>
	<key>icon-unlock-alt</key>
	<string>0xf13e</string>
	<key>icon-upload</key>
	<string>0xf01b</string>
	<key>icon-upload-alt</key>
	<string>0xf093</string>
	<key>icon-user</key>
	<string>0xf007</string>
	<key>icon-user-md</key>
	<string>0xf0f0</string>
	<key>icon-volume-down</key>
	<string>0xf027</string>
	<key>icon-volume-off</key>
	<string>0xf026</string>
	<key>icon-volume-up</key>
	<string>0xf028</string>
	<key>icon-warning-sign</key>
	<string>0xf071</string>
	<key>icon-wrench</key>
	<string>0xf0ad</string>
	<key>icon-zoom-in</key>
	<string>0xf00e</string>
	<key>icon-zoom-out</key>
	<string>0xf010</string>
</dict>
</plist>