<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fa-adjust</key>
	<string>0xf042</string>
	<key>fa-adn</key>
	<string>0xf170</string>
	<key>fa-align-center</key>
	<string>0xf037</string>
	<key>fa-align-justify</key>
	<string>0xf039</string>
	<key>fa-align-left</key>
	<string>0xf036</string>
	<key>fa-align-right</key>
	<string>0xf038</string>
	<key>fa-ambulance</key>
	<string>0xf0f9</string>
	<key>fa-anchor</key>
	<string>0xf13d</string>
	<key>fa-android</key>
	<string>0xf17b</string>
	<key>fa-angle-double-down</key>
	<string>0xf103</string>
	<key>fa-angle-double-left</key>
	<string>0xf100</string>
	<key>fa-angle-double-right</key>
	<string>0xf101</string>
	<key>fa-angle-double-up</key>
	<string>0xf102</string>
	<key>fa-angle-down</key>
	<string>0xf107</string>
	<key>fa-angle-left</key>
	<string>0xf104</string>
	<key>fa-angle-right</key>
	<string>0xf105</string>
	<key>fa-angle-up</key>
	<string>0xf106</string>
	<key>fa-apple</key>
	<string>0xf179</string>
	<key>fa-archive</key>
	<string>0xf187</string>
	<key>fa-arrow-circle-down</key>
	<string>0xf0ab</string>
	<key>fa-arrow-circle-left</key>
	<string>0xf0a8</string>
	<key>fa-arrow-circle-o-down</key>
	<string>0xf01a</string>
	<key>fa-arrow-circle-o-left</key>
	<string>0xf190</string>
	<key>fa-arrow-circle-o-right</key>
	<string>0xf18e</string>
	<key>fa-arrow-circle-o-up</key>
	<string>0xf01b</string>
	<key>fa-arrow-circle-right</key>
	<string>0xf0a9</string>
	<key>fa-arrow-circle-up</key>
	<string>0xf0aa</string>
	<key>fa-arrow-down</key>
	<string>0xf063</string>
	<key>fa-arrow-left</key>
	<string>0xf060</string>
	<key>fa-arrow-right</key>
	<string>0xf061</string>
	<key>fa-arrow-up</key>
	<string>0xf062</string>
	<key>fa-arrows</key>
	<string>0xf047</string>
	<key>fa-arrows-alt</key>
	<string>0xf0b2</string>
	<key>fa-arrows-h</key>
	<string>0xf07e</string>
	<key>fa-arrows-v</key>
	<string>0xf07d</string>
	<key>fa-asterisk</key>
	<string>0xf069</string>
	<key>fa-backward</key>
	<string>0xf04a</string>
	<key>fa-ban</key>
	<string>0xf05e</string>
	<key>fa-bar-chart-o</key>
	<string>0xf080</string>
	<key>fa-barcode</key>
	<string>0xf02a</string>
	<key>fa-bars</key>
	<string>0xf0c9</string>
	<key>fa-beer</key>
	<string>0xf0fc</string>
	<key>fa-bell</key>
	<string>0xf0f3</string>
	<key>fa-bell-o</key>
	<string>0xf0a2</string>
	<key>fa-bitbucket</key>
	<string>0xf171</string>
	<key>fa-bitbucket-square</key>
	<string>0xf172</string>
	<key>fa-bitcoin</key>
	<string>0xf15a</string>
	<key>fa-bold</key>
	<string>0xf032</string>
	<key>fa-bolt</key>
	<string>0xf0e7</string>
	<key>fa-book</key>
	<string>0xf02d</string>
	<key>fa-bookmark</key>
	<string>0xf02e</string>
	<key>fa-bookmark-o</key>
	<string>0xf097</string>
	<key>fa-briefcase</key>
	<string>0xf0b1</string>
	<key>fa-btc</key>
	<string>0xf15a</string>
	<key>fa-bug</key>
	<string>0xf188</string>
	<key>fa-building-o</key>
	<string>0xf0f7</string>
	<key>fa-bullhorn</key>
	<string>0xf0a1</string>
	<key>fa-bullseye</key>
	<string>0xf140</string>
	<key>fa-calendar</key>
	<string>0xf073</string>
	<key>fa-calendar-o</key>
	<string>0xf133</string>
	<key>fa-camera</key>
	<string>0xf030</string>
	<key>fa-camera-retro</key>
	<string>0xf083</string>
	<key>fa-caret-down</key>
	<string>0xf0d7</string>
	<key>fa-caret-left</key>
	<string>0xf0d9</string>
	<key>fa-caret-right</key>
	<string>0xf0da</string>
	<key>fa-caret-square-o-down</key>
	<string>0xf150</string>
	<key>fa-caret-square-o-left</key>
	<string>0xf191</string>
	<key>fa-caret-square-o-right</key>
	<string>0xf152</string>
	<key>fa-caret-square-o-up</key>
	<string>0xf151</string>
	<key>fa-caret-up</key>
	<string>0xf0d8</string>
	<key>fa-certificate</key>
	<string>0xf0a3</string>
	<key>fa-chain</key>
	<string>0xf0c1</string>
	<key>fa-chain-broken</key>
	<string>0xf127</string>
	<key>fa-check</key>
	<string>0xf00c</string>
	<key>fa-check-circle</key>
	<string>0xf058</string>
	<key>fa-check-circle-o</key>
	<string>0xf05d</string>
	<key>fa-check-square</key>
	<string>0xf14a</string>
	<key>fa-check-square-o</key>
	<string>0xf046</string>
	<key>fa-chevron-circle-down</key>
	<string>0xf13a</string>
	<key>fa-chevron-circle-left</key>
	<string>0xf137</string>
	<key>fa-chevron-circle-right</key>
	<string>0xf138</string>
	<key>fa-chevron-circle-up</key>
	<string>0xf139</string>
	<key>fa-chevron-down</key>
	<string>0xf078</string>
	<key>fa-chevron-left</key>
	<string>0xf053</string>
	<key>fa-chevron-right</key>
	<string>0xf054</string>
	<key>fa-chevron-up</key>
	<string>0xf077</string>
	<key>fa-circle</key>
	<string>0xf111</string>
	<key>fa-circle-o</key>
	<string>0xf10c</string>
	<key>fa-clipboard</key>
	<string>0xf0ea</string>
	<key>fa-clock-o</key>
	<string>0xf017</string>
	<key>fa-cloud</key>
	<string>0xf0c2</string>
	<key>fa-cloud-download</key>
	<string>0xf0ed</string>
	<key>fa-cloud-upload</key>
	<string>0xf0ee</string>
	<key>fa-cny</key>
	<string>0xf157</string>
	<key>fa-code</key>
	<string>0xf121</string>
	<key>fa-code-fork</key>
	<string>0xf126</string>
	<key>fa-coffee</key>
	<string>0xf0f4</string>
	<key>fa-cog</key>
	<string>0xf013</string>
	<key>fa-cogs</key>
	<string>0xf085</string>
	<key>fa-columns</key>
	<string>0xf0db</string>
	<key>fa-comment</key>
	<string>0xf075</string>
	<key>fa-comment-o</key>
	<string>0xf0e5</string>
	<key>fa-comments</key>
	<string>0xf086</string>
	<key>fa-comments-o</key>
	<string>0xf0e6</string>
	<key>fa-compass</key>
	<string>0xf14e</string>
	<key>fa-compress</key>
	<string>0xf066</string>
	<key>fa-copy</key>
	<string>0xf0c5</string>
	<key>fa-credit-card</key>
	<string>0xf09d</string>
	<key>fa-crop</key>
	<string>0xf125</string>
	<key>fa-crosshairs</key>
	<string>0xf05b</string>
	<key>fa-css3</key>
	<string>0xf13c</string>
	<key>fa-cut</key>
	<string>0xf0c4</string>
	<key>fa-cutlery</key>
	<string>0xf0f5</string>
	<key>fa-dashboard</key>
	<string>0xf0e4</string>
	<key>fa-dedent</key>
	<string>0xf03b</string>
	<key>fa-desktop</key>
	<string>0xf108</string>
	<key>fa-dollar</key>
	<string>0xf155</string>
	<key>fa-dot-circle-o</key>
	<string>0xf192</string>
	<key>fa-download</key>
	<string>0xf019</string>
	<key>fa-dribbble</key>
	<string>0xf17d</string>
	<key>fa-dropbox</key>
	<string>0xf16b</string>
	<key>fa-edit</key>
	<string>0xf044</string>
	<key>fa-eject</key>
	<string>0xf052</string>
	<key>fa-ellipsis-h</key>
	<string>0xf141</string>
	<key>fa-ellipsis-v</key>
	<string>0xf142</string>
	<key>fa-envelope</key>
	<string>0xf0e0</string>
	<key>fa-envelope-o</key>
	<string>0xf003</string>
	<key>fa-eraser</key>
	<string>0xf12d</string>
	<key>fa-eur</key>
	<string>0xf153</string>
	<key>fa-euro</key>
	<string>0xf153</string>
	<key>fa-exchange</key>
	<string>0xf0ec</string>
	<key>fa-exclamation</key>
	<string>0xf12a</string>
	<key>fa-exclamation-circle</key>
	<string>0xf06a</string>
	<key>fa-exclamation-triangle</key>
	<string>0xf071</string>
	<key>fa-expand</key>
	<string>0xf065</string>
	<key>fa-external-link</key>
	<string>0xf08e</string>
	<key>fa-external-link-square</key>
	<string>0xf14c</string>
	<key>fa-eye</key>
	<string>0xf06e</string>
	<key>fa-eye-slash</key>
	<string>0xf070</string>
	<key>fa-facebook</key>
	<string>0xf09a</string>
	<key>fa-facebook-square</key>
	<string>0xf082</string>
	<key>fa-fast-backward</key>
	<string>0xf049</string>
	<key>fa-fast-forward</key>
	<string>0xf050</string>
	<key>fa-female</key>
	<string>0xf182</string>
	<key>fa-fighter-jet</key>
	<string>0xf0fb</string>
	<key>fa-file</key>
	<string>0xf15b</string>
	<key>fa-file-o</key>
	<string>0xf016</string>
	<key>fa-file-text</key>
	<string>0xf15c</string>
	<key>fa-file-text-o</key>
	<string>0xf0f6</string>
	<key>fa-files-o</key>
	<string>0xf0c5</string>
	<key>fa-film</key>
	<string>0xf008</string>
	<key>fa-filter</key>
	<string>0xf0b0</string>
	<key>fa-fire</key>
	<string>0xf06d</string>
	<key>fa-fire-extinguisher</key>
	<string>0xf134</string>
	<key>fa-flag</key>
	<string>0xf024</string>
	<key>fa-flag-checkered</key>
	<string>0xf11e</string>
	<key>fa-flag-o</key>
	<string>0xf11d</string>
	<key>fa-flash</key>
	<string>0xf0e7</string>
	<key>fa-flask</key>
	<string>0xf0c3</string>
	<key>fa-flickr</key>
	<string>0xf16e</string>
	<key>fa-floppy-o</key>
	<string>0xf0c7</string>
	<key>fa-folder</key>
	<string>0xf07b</string>
	<key>fa-folder-o</key>
	<string>0xf114</string>
	<key>fa-folder-open</key>
	<string>0xf07c</string>
	<key>fa-folder-open-o</key>
	<string>0xf115</string>
	<key>fa-font</key>
	<string>0xf031</string>
	<key>fa-forward</key>
	<string>0xf04e</string>
	<key>fa-foursquare</key>
	<string>0xf180</string>
	<key>fa-frown-o</key>
	<string>0xf119</string>
	<key>fa-gamepad</key>
	<string>0xf11b</string>
	<key>fa-gavel</key>
	<string>0xf0e3</string>
	<key>fa-gbp</key>
	<string>0xf154</string>
	<key>fa-gear</key>
	<string>0xf013</string>
	<key>fa-gears</key>
	<string>0xf085</string>
	<key>fa-gift</key>
	<string>0xf06b</string>
	<key>fa-github</key>
	<string>0xf09b</string>
	<key>fa-github-alt</key>
	<string>0xf113</string>
	<key>fa-github-square</key>
	<string>0xf092</string>
	<key>fa-gittip</key>
	<string>0xf184</string>
	<key>fa-glass</key>
	<string>0xf000</string>
	<key>fa-globe</key>
	<string>0xf0ac</string>
	<key>fa-google-plus</key>
	<string>0xf0d5</string>
	<key>fa-google-plus-square</key>
	<string>0xf0d4</string>
	<key>fa-group</key>
	<string>0xf0c0</string>
	<key>fa-h-square</key>
	<string>0xf0fd</string>
	<key>fa-hand-o-down</key>
	<string>0xf0a7</string>
	<key>fa-hand-o-left</key>
	<string>0xf0a5</string>
	<key>fa-hand-o-right</key>
	<string>0xf0a4</string>
	<key>fa-hand-o-up</key>
	<string>0xf0a6</string>
	<key>fa-hdd-o</key>
	<string>0xf0a0</string>
	<key>fa-headphones</key>
	<string>0xf025</string>
	<key>fa-heart</key>
	<string>0xf004</string>
	<key>fa-heart-o</key>
	<string>0xf08a</string>
	<key>fa-home</key>
	<string>0xf015</string>
	<key>fa-hospital-o</key>
	<string>0xf0f8</string>
	<key>fa-html5</key>
	<string>0xf13b</string>
	<key>fa-inbox</key>
	<string>0xf01c</string>
	<key>fa-indent</key>
	<string>0xf03c</string>
	<key>fa-info</key>
	<string>0xf129</string>
	<key>fa-info-circle</key>
	<string>0xf05a</string>
	<key>fa-inr</key>
	<string>0xf156</string>
	<key>fa-instagram</key>
	<string>0xf16d</string>
	<key>fa-italic</key>
	<string>0xf033</string>
	<key>fa-jpy</key>
	<string>0xf157</string>
	<key>fa-key</key>
	<string>0xf084</string>
	<key>fa-keyboard-o</key>
	<string>0xf11c</string>
	<key>fa-krw</key>
	<string>0xf159</string>
	<key>fa-laptop</key>
	<string>0xf109</string>
	<key>fa-leaf</key>
	<string>0xf06c</string>
	<key>fa-legal</key>
	<string>0xf0e3</string>
	<key>fa-lemon-o</key>
	<string>0xf094</string>
	<key>fa-level-down</key>
	<string>0xf149</string>
	<key>fa-level-up</key>
	<string>0xf148</string>
	<key>fa-lightbulb-o</key>
	<string>0xf0eb</string>
	<key>fa-link</key>
	<string>0xf0c1</string>
	<key>fa-linkedin</key>
	<string>0xf0e1</string>
	<key>fa-linkedin-square</key>
	<string>0xf08c</string>
	<key>fa-linux</key>
	<string>0xf17c</string>
	<key>fa-list</key>
	<string>0xf03a</string>
	<key>fa-list-alt</key>
	<string>0xf022</string>
	<key>fa-list-ol</key>
	<string>0xf0cb</string>
	<key>fa-list-ul</key>
	<string>0xf0ca</string>
	<key>fa-location-arrow</key>
	<string>0xf124</string>
	<key>fa-lock</key>
	<string>0xf023</string>
	<key>fa-long-arrow-down</key>
	<string>0xf175</string>
	<key>fa-long-arrow-left</key>
	<string>0xf177</string>
	<key>fa-long-arrow-right</key>
	<string>0xf178</string>
	<key>fa-long-arrow-up</key>
	<string>0xf176</string>
	<key>fa-magic</key>
	<string>0xf0d0</string>
	<key>fa-magnet</key>
	<string>0xf076</string>
	<key>fa-mail-forward</key>
	<string>0xf064</string>
	<key>fa-mail-reply</key>
	<string>0xf112</string>
	<key>fa-mail-reply-all</key>
	<string>0xf122</string>
	<key>fa-male</key>
	<string>0xf183</string>
	<key>fa-map-marker</key>
	<string>0xf041</string>
	<key>fa-maxcdn</key>
	<string>0xf136</string>
	<key>fa-medkit</key>
	<string>0xf0fa</string>
	<key>fa-meh-o</key>
	<string>0xf11a</string>
	<key>fa-microphone</key>
	<string>0xf130</string>
	<key>fa-microphone-slash</key>
	<string>0xf131</string>
	<key>fa-minus</key>
	<string>0xf068</string>
	<key>fa-minus-circle</key>
	<string>0xf056</string>
	<key>fa-minus-square</key>
	<string>0xf146</string>
	<key>fa-minus-square-o</key>
	<string>0xf147</string>
	<key>fa-mobile</key>
	<string>0xf10b</string>
	<key>fa-mobile-phone</key>
	<string>0xf10b</string>
	<key>fa-money</key>
	<string>0xf0d6</string>
	<key>fa-moon-o</key>
	<string>0xf186</string>
	<key>fa-music</key>
	<string>0xf001</string>
	<key>fa-outdent</key>
	<string>0xf03b</string>
	<key>fa-pagelines</key>
	<string>0xf18c</string>
	<key>fa-paperclip</key>
	<string>0xf0c6</string>
	<key>fa-paste</key>
	<string>0xf0ea</string>
	<key>fa-pause</key>
	<string>0xf04c</string>
	<key>fa-pencil</key>
	<string>0xf040</string>
	<key>fa-pencil-square</key>
	<string>0xf14b</string>
	<key>fa-pencil-square-o</key>
	<string>0xf044</string>
	<key>fa-phone</key>
	<string>0xf095</string>
	<key>fa-phone-square</key>
	<string>0xf098</string>
	<key>fa-picture-o</key>
	<string>0xf03e</string>
	<key>fa-pinterest</key>
	<string>0xf0d2</string>
	<key>fa-pinterest-square</key>
	<string>0xf0d3</string>
	<key>fa-plane</key>
	<string>0xf072</string>
	<key>fa-play</key>
	<string>0xf04b</string>
	<key>fa-play-circle</key>
	<string>0xf144</string>
	<key>fa-play-circle-o</key>
	<string>0xf01d</string>
	<key>fa-plus</key>
	<string>0xf067</string>
	<key>fa-plus-circle</key>
	<string>0xf055</string>
	<key>fa-plus-square</key>
	<string>0xf0fe</string>
	<key>fa-plus-square-o</key>
	<string>0xf196</string>
	<key>fa-power-off</key>
	<string>0xf011</string>
	<key>fa-print</key>
	<string>0xf02f</string>
	<key>fa-puzzle-piece</key>
	<string>0xf12e</string>
	<key>fa-qrcode</key>
	<string>0xf029</string>
	<key>fa-question</key>
	<string>0xf128</string>
	<key>fa-question-circle</key>
	<string>0xf059</string>
	<key>fa-quote-left</key>
	<string>0xf10d</string>
	<key>fa-quote-right</key>
	<string>0xf10e</string>
	<key>fa-random</key>
	<string>0xf074</string>
	<key>fa-refresh</key>
	<string>0xf021</string>
	<key>fa-renren</key>
	<string>0xf18b</string>
	<key>fa-repeat</key>
	<string>0xf01e</string>
	<key>fa-reply</key>
	<string>0xf112</string>
	<key>fa-reply-all</key>
	<string>0xf122</string>
	<key>fa-retweet</key>
	<string>0xf079</string>
	<key>fa-rmb</key>
	<string>0xf157</string>
	<key>fa-road</key>
	<string>0xf018</string>
	<key>fa-rocket</key>
	<string>0xf135</string>
	<key>fa-rotate-left</key>
	<string>0xf0e2</string>
	<key>fa-rotate-right</key>
	<string>0xf01e</string>
	<key>fa-rouble</key>
	<string>0xf158</string>
	<key>fa-rss</key>
	<string>0xf09e</string>
	<key>fa-rss-square</key>
	<string>0xf143</string>
	<key>fa-rub</key>
	<string>0xf158</string>
	<key>fa-ruble</key>
	<string>0xf158</string>
	<key>fa-rupee</key>
	<string>0xf156</string>
	<key>fa-save</key>
	<string>0xf0c7</string>
	<key>fa-scissors</key>
	<string>0xf0c4</string>
	<key>fa-search</key>
	<string>0xf002</string>
	<key>fa-search-minus</key>
	<string>0xf010</string>
	<key>fa-search-plus</key>
	<string>0xf00e</string>
	<key>fa-share</key>
	<string>0xf064</string>
	<key>fa-share-square</key>
	<string>0xf14d</string>
	<key>fa-share-square-o</key>
	<string>0xf045</string>
	<key>fa-shield</key>
	<string>0xf132</string>
	<key>fa-shopping-cart</key>
	<string>0xf07a</string>
	<key>fa-sign-in</key>
	<string>0xf090</string>
	<key>fa-sign-out</key>
	<string>0xf08b</string>
	<key>fa-signal</key>
	<string>0xf012</string>
	<key>fa-sitemap</key>
	<string>0xf0e8</string>
	<key>fa-skype</key>
	<string>0xf17e</string>
	<key>fa-smile-o</key>
	<string>0xf118</string>
	<key>fa-sort</key>
	<string>0xf0dc</string>
	<key>fa-sort-alpha-asc</key>
	<string>0xf15d</string>
	<key>fa-sort-alpha-desc</key>
	<string>0xf15e</string>
	<key>fa-sort-amount-asc</key>
	<string>0xf160</string>
	<key>fa-sort-amount-desc</key>
	<string>0xf161</string>
	<key>fa-sort-asc</key>
	<string>0xf0dd</string>
	<key>fa-sort-desc</key>
	<string>0xf0de</string>
	<key>fa-sort-down</key>
	<string>0xf0dd</string>
	<key>fa-sort-numeric-asc</key>
	<string>0xf162</string>
	<key>fa-sort-numeric-desc</key>
	<string>0xf163</string>
	<key>fa-sort-up</key>
	<string>0xf0de</string>
	<key>fa-spinner</key>
	<string>0xf110</string>
	<key>fa-square</key>
	<string>0xf0c8</string>
	<key>fa-square-o</key>
	<string>0xf096</string>
	<key>fa-stack-exchange</key>
	<string>0xf18d</string>
	<key>fa-stack-overflow</key>
	<string>0xf16c</string>
	<key>fa-star</key>
	<string>0xf005</string>
	<key>fa-star-half</key>
	<string>0xf089</string>
	<key>fa-star-half-empty</key>
	<string>0xf123</string>
	<key>fa-star-half-full</key>
	<string>0xf123</string>
	<key>fa-star-half-o</key>
	<string>0xf123</string>
	<key>fa-star-o</key>
	<string>0xf006</string>
	<key>fa-step-backward</key>
	<string>0xf048</string>
	<key>fa-step-forward</key>
	<string>0xf051</string>
	<key>fa-stethoscope</key>
	<string>0xf0f1</string>
	<key>fa-stop</key>
	<string>0xf04d</string>
	<key>fa-strikethrough</key>
	<string>0xf0cc</string>
	<key>fa-subscript</key>
	<string>0xf12c</string>
	<key>fa-suitcase</key>
	<string>0xf0f2</string>
	<key>fa-sun-o</key>
	<string>0xf185</string>
	<key>fa-superscript</key>
	<string>0xf12b</string>
	<key>fa-table</key>
	<string>0xf0ce</string>
	<key>fa-tablet</key>
	<string>0xf10a</string>
	<key>fa-tachometer</key>
	<string>0xf0e4</string>
	<key>fa-tag</key>
	<string>0xf02b</string>
	<key>fa-tags</key>
	<string>0xf02c</string>
	<key>fa-tasks</key>
	<string>0xf0ae</string>
	<key>fa-terminal</key>
	<string>0xf120</string>
	<key>fa-text-height</key>
	<string>0xf034</string>
	<key>fa-text-width</key>
	<string>0xf035</string>
	<key>fa-th</key>
	<string>0xf00a</string>
	<key>fa-th-large</key>
	<string>0xf009</string>
	<key>fa-th-list</key>
	<string>0xf00b</string>
	<key>fa-thumb-tack</key>
	<string>0xf08d</string>
	<key>fa-thumbs-down</key>
	<string>0xf165</string>
	<key>fa-thumbs-o-down</key>
	<string>0xf088</string>
	<key>fa-thumbs-o-up</key>
	<string>0xf087</string>
	<key>fa-thumbs-up</key>
	<string>0xf164</string>
	<key>fa-ticket</key>
	<string>0xf145</string>
	<key>fa-times</key>
	<string>0xf00d</string>
	<key>fa-times-circle</key>
	<string>0xf057</string>
	<key>fa-times-circle-o</key>
	<string>0xf05c</string>
	<key>fa-tint</key>
	<string>0xf043</string>
	<key>fa-toggle-down</key>
	<string>0xf150</string>
	<key>fa-toggle-left</key>
	<string>0xf191</string>
	<key>fa-toggle-right</key>
	<string>0xf152</string>
	<key>fa-toggle-up</key>
	<string>0xf151</string>
	<key>fa-trash-o</key>
	<string>0xf014</string>
	<key>fa-trello</key>
	<string>0xf181</string>
	<key>fa-trophy</key>
	<string>0xf091</string>
	<key>fa-truck</key>
	<string>0xf0d1</string>
	<key>fa-try</key>
	<string>0xf195</string>
	<key>fa-tumblr</key>
	<string>0xf173</string>
	<key>fa-tumblr-square</key>
	<string>0xf174</string>
	<key>fa-turkish-lira</key>
	<string>0xf195</string>
	<key>fa-twitter</key>
	<string>0xf099</string>
	<key>fa-twitter-square</key>
	<string>0xf081</string>
	<key>fa-umbrella</key>
	<string>0xf0e9</string>
	<key>fa-underline</key>
	<string>0xf0cd</string>
	<key>fa-undo</key>
	<string>0xf0e2</string>
	<key>fa-unlink</key>
	<string>0xf127</string>
	<key>fa-unlock</key>
	<string>0xf09c</string>
	<key>fa-unlock-alt</key>
	<string>0xf13e</string>
	<key>fa-unsorted</key>
	<string>0xf0dc</string>
	<key>fa-upload</key>
	<string>0xf093</string>
	<key>fa-usd</key>
	<string>0xf155</string>
	<key>fa-user</key>
	<string>0xf007</string>
	<key>fa-user-md</key>
	<string>0xf0f0</string>
	<key>fa-users</key>
	<string>0xf0c0</string>
	<key>fa-video-camera</key>
	<string>0xf03d</string>
	<key>fa-vimeo-square</key>
	<string>0xf194</string>
	<key>fa-vk</key>
	<string>0xf189</string>
	<key>fa-volume-down</key>
	<string>0xf027</string>
	<key>fa-volume-off</key>
	<string>0xf026</string>
	<key>fa-volume-up</key>
	<string>0xf028</string>
	<key>fa-warning</key>
	<string>0xf071</string>
	<key>fa-weibo</key>
	<string>0xf18a</string>
	<key>fa-wheelchair</key>
	<string>0xf193</string>
	<key>fa-windows</key>
	<string>0xf17a</string>
	<key>fa-won</key>
	<string>0xf159</string>
	<key>fa-wrench</key>
	<string>0xf0ad</string>
	<key>fa-xing</key>
	<string>0xf168</string>
	<key>fa-xing-square</key>
	<string>0xf169</string>
	<key>fa-yen</key>
	<string>0xf157</string>
	<key>fa-youtube</key>
	<string>0xf167</string>
	<key>fa-youtube-play</key>
	<string>0xf16a</string>
	<key>fa-youtube-square</key>
	<string>0xf166</string>
</dict>
</plist>
